<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
{% block content %}
<form action="{% url 'updateproduct' proid=product.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h3 class="mb-4">Edit Products</h3>
                            <h6 class="mb-4">Edit your products here</h6>
                            <div class="col-sm-12 col-xl-12">
                            <div class="bg-light rounded h-100">
                            <h6 class="mb-4">CATEGORY NAME</h6>
                                <select class="form-control mb-3" aria-label="Default select example" name="CatName">
                                <option>{{product.CATEGORY}}</option>
                                {% for i in category %}
                                <option>{{i.CATNAME}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="ProName"
                                       placeholder="PRODUCT NAME" value="{{product.PRONAME}}">
                                <label for="floatingInput">PRODUCT NAME</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput" name="ProPrice"
                                       placeholder="PRODUCT PRICE" value="{{product.PROPRICE}}">
                                <label for="floatingInput">PRODUCT PRICE</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="DESCRIPTION" id="floatingTextarea"
                                          name="ProDesc" style="height: 150px;">{{product.PRODESC}}</textarea>
                                <label for="floatingTextarea">PRODUCT DESCRIPTION</label>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">UPLOAD IMAGE 1</label>
                                <img src="{{product.PROIMAGE.url}}" alt="Image" style="width:80px;height:80px;">
                                <input class="form-control" type="file" id="formFile" name="ProImage1">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">UPLOAD IMAGE 2</label>
                                <img src="{{product.PROIMAGE2.url}}" alt="Image" style="width:80px;height:80px;">
                                <input class="form-control" type="file" id="formFile" name="ProImage2">
                            </div>
                            <button type="submit" class="btn btn-primary">EDIT PRODUCT</button>
                        </div>
                    </div>
</form>
{% endblock %}
</body>
</html>