<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
{% block content %}
<form action="{% url 'updateblog' blogid=blog.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h3 class="mb-4">Blogs</h3>
                            <h6 class="mb-4">Edit your blogs here</h6>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingInput" name="Date"
                                       placeholder="DATE" value="{{blog.DATE|date:'Y-m-d'}}">
                                <label for="floatingInput">DATE</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="Title"
                                       placeholder="TITLE" value="{{blog.TITLE}}">
                                <label for="floatingInput">TITLE</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="SHORT DESCRIPTION" id="floatingTextarea"
                                          name="ShortDescription" style="height: 150px;">{{blog.SHORTDESC}}</textarea>
                                <label for="floatingTextarea">SHORT DESCRIPTION</label>
                            </div>
                              <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="FULL DESCRIPTION" id="floatingTextarea"
                                          name="FullDescription" style="height: 150px;">{{blog.FULLDESC}}</textarea>
                                <label for="floatingTextarea">FULL DESCRIPTION</label>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">UPLOAD IMAGE</label>
                              <img src="{{blog.IMAGE.url}}" alt="Image" style="width:80px;height:80px;">
                                <input class="form-control" type="file" id="formFile" name="Image">
                            </div>
                            <button type="submit" class="btn btn-primary">EDIT BLOG</button>
                        </div>
                    </div>
</form>
{% endblock %}
</body>
</html>